[submodule "src/org-kitware-cmake"]
	path = src/org-kitware-cmake
	url = https://github.com/Kitware/CMake.git
	shallow = true
[submodule "src/cas-openmathlib-openblas"]
	path = src/cas-openmathlib-openblas
	url = https://github.com/OpenMathLib/OpenBLAS.git
	shallow = true
[submodule "src/tamu-drtimothyaldendavis-suitesparse"]
	path = src/tamu-drtimothyaldendavis-suitesparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
	shallow = true
[submodule "src/sandia-trilinos-trilinos"]
	path = src/sandia-trilinos-trilinos
	url = https://github.com/trilinos/Trilinos.git
	shallow = true
[submodule "src/sandia-xyce-xyce"]
	path = src/sandia-xyce-xyce
	url = https://github.com/xyce/xyce.git
	shallow = true
[submodule "src/org-madler-zlib"]
	path = src/org-madler-zlib
	url = https://github.com/madler/zlib.git
	shallow = true
[submodule "src/org-debian-ncurses"]
	path = src/org-debian-ncurses
	url = https://salsa.debian.org/debian/ncurses.git
	shallow = true
[submodule "src/org-debian-libedit"]
	path = src/org-debian-libedit
	url = https://salsa.debian.org/debian/libedit.git
	shallow = true
[submodule "src/org-tcltk-tcl"]
	path = src/org-tcltk-tcl
	url = https://github.com/tcltk/tcl.git
	shallow = true
[submodule "src/org-libffi-libffi"]
	path = src/org-libffi-libffi
	url = https://github.com/libffi/libffi.git
	shallow = true
[submodule "src/org-debian-boost"]
	path = src/org-debian-boost
	url = https://salsa.debian.org/debian/boost.git
	branch = upstream
	shallow = true
[submodule "src/org-numactl-numactl"]
	path = src/org-numactl-numactl
	url = https://github.com/numactl/numactl.git
	shallow = true
[submodule "src/org-fmtlib-fmt"]
	path = src/org-fmtlib-fmt
	url = https://github.com/fmtlib/fmt.git
	shallow = true
[submodule "src/org-libeigen-eigen"]
	path = src/org-libeigen-eigen
	url = https://gitlab.com/libeigen/eigen.git
	shallow = true
[submodule "src/org-gnu-readline"]
	path = src/org-gnu-readline
	url = https://git.savannah.gnu.org/git/readline.git
	shallow = true
[submodule "src/org-debian-fftw3"]
	path = src/org-debian-fftw3
	url = https://salsa.debian.org/science-team/fftw3.git
	shallow = true
[submodule "src/org-gnu-gcc"]
	path = src/org-gnu-gcc
	url = git://gcc.gnu.org/git/gcc.git
	shallow = true
# boost lzma iostream support disabled
#[submodule "src/org-tukaani-xz"]
#	path = src/org-tukaani-xz
#	url = https://git.tukaani.org/xz.git
[submodule "src/org-pmodels-mpich"]
	path = src/org-pmodels-mpich
	url = https://github.com/pmodels/mpich.git
    shallow = true
[submodule "src/lbl-xiaoyeli-superlu_dist"]
	path = src/lbl-xiaoyeli-superlu_dist
	url = https://github.com/xiaoyeli/superlu_dist.git
 	shallow = true
[submodule "src/lbl-xiaoyeli-superlu"]
	path = src/lbl-xiaoyeli-superlu
	url = https://github.com/xiaoyeli/superlu.git
 	shallow = true
[submodule "src/umn-karypislab-parmetis"]
	path = src/umn-karypislab-parmetis
	url = https://github.com/karypislab/parmetis.git
 	shallow = true
[submodule "src/umn-karypislab-gklib"]
	path = src/umn-karypislab-gklib
	url = https://github.com/KarypisLab/GKlib.git
 	shallow = true
[submodule "src/umn-karypislab-metis"]
	path = src/umn-karypislab-metis
	url = https://github.com/KarypisLab/METIS.git
	shallow = true
[submodule "src/org-gnu-autoconf"]
	path = src/org-gnu-autoconf
	url = https://git.savannah.gnu.org/git/autoconf.git
	shallow = true
[submodule "src/org-gnu-automake"]
	path = src/org-gnu-automake
	url = https://git.savannah.gnu.org/git/automake.git
	shallow = true
[submodule "src/org-westes-flex"]
	path = src/org-westes-flex
	url = https://github.com/westes/flex.git
[submodule "src/org-gnu-bison"]
	path = src/org-gnu-bison
	url = https://git.savannah.gnu.org/git/bison.git
[submodule "src/org-llvm-llvm-project"]
	path = src/org-llvm-llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/14.x
